 * {
   box-sizing: border-box;
 }


 #board {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }

 .grid-item {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid gray;
   margin: 0 -1px -1px 0;
   aspect-ratio: 1;
   overflow: hidden;
   font-size: 24px;
 }

 .grid-item.selected {
   border: none;
   outline: 4px solid red;
 }