#coloring-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid-item {
  border: 1px solid gray;
  margin: 0 -1px -1px 0;
  aspect-ratio: 1;
  overflow: hidden;
}